In [1]:
#lambda -----> Anonymous function / one liner function.
#wap to add two numbers:-


c = lambda a,b:a+b
c(1,2)

3

In [2]:
x = lambda a:a+5
x(5)

10

In [3]:
#filter function.....
# find the data where output should be greater than 60.
a = [20,89,67,56,90,99,56,45,88,78,67,55]
a=[80,16,20,56,79,67,34,45]
for i in a:
    if i>=60:
        print(i)

80
79
67

In [4]:
for i in a:
    if i>60:
        print(i)

80
79
67

In [6]:
a = [20,89,67,56,90,99,56,45,88,78,67,55]
def func(a):
    for i in a:
        if i>60:
            print(i)
            
func(a)

89
67
90
99
88
78
67

In [12]:
a = [20,89,67,56,90,99,56,45,88,78,67,55]
def func(a):
    
#     for i in a:
    if a>60:
        return True
    else:
        return False
            
x = list(filter(func,a))
x

[89, 67, 90, 99, 88, 78, 67]

In [22]:
a = [20,89,67,56,90,99,56,45,88,78,67,55]
def fun(a):
    if a>60:
        return True
    else:
        return False
    
print(tuple(filter(fun,a)))

(89, 67, 90, 99, 88, 78, 67)

In [16]:
a=[20,89,76,45,79,34,67,2,56,53,55,23,43]
def func(a):
    if i>60:
        return True
    else:
        return False

print(list(filter(func,a)))

[]

In [26]:
a=[20,89,76,45,79,34,67,2,56,53,55,23,43]
x = lambda a: True if a>60 else False
print(list(filter(x,a)))

[89, 76, 79, 67]

In [28]:
a=[20,89,76,45,79,34,67,2,56,53,55,23,43]
c = list(filter(lambda a: True if a>60 else False,a))
c

[89, 76, 79, 67]

In [29]:
#map function-----> operation 
z = list(map(lambda a:a**2,c))
z

[7921, 5776, 6241, 4489]

In [30]:
print(list(map(lambda a:a**2,c)))
# z

[7921, 5776, 6241, 4489]

In [32]:
# Write a Python program to triple 
# all numbers of a given list of integers. 
# Use Python map
a = [12,5,7,9]
tuple(map(lambda b:b**3,a))

(1728, 125, 343, 729)

In [33]:
# Write a Python program to add three number
# given lists using Python map and lambda.
x=[1,2,3,4,5,6,7,8,9,0]
data1= [1,2,3,4,5]
data2= [6,7,8,9,10]
data3= [11,12,13,14,15]
print(list(map(lambda d1,d2,d3:d1+d2+d3,data1,data2,data3)))

[18, 21, 24, 27, 30]

In [34]:
a= [23,45,68,55,90]
b= [35,67,78,13,10]
c= [12,56,76,32,98]
list(map(lambda a,b,c: a+b+c,a,b,c))

[70, 168, 222, 100, 198]

In [37]:
# Wap to find the highest salary of some individuals
# and also try to get the double of the highest salary .

#wap to where a student have some certain subject also have
# some  decent marks but also failed in 2 subjects. your
# task is to find the number of failing marks and also
# try to to give him some grace marking so that he/she 
# can pass with flying colors.

a = [1,2,3,4,5,6,7,8,9,0]
c = list(filter(lambda a: True if a>6 else False,a))

In [38]:
c

[7, 8, 9]

In [ ]:
map(lambda a:a*2,c)