In [1]:
a = (3,4,5)
print(a)

(3, 4, 5)

In [2]:
type(a)

tuple

In [3]:
#tuple ------> list
x = (1,23,3,[89,90,'Qwe'])
x

(1, 23, 3, [89, 90, 'Qwe'])

In [4]:
x

(1, 23, 3, [89, 90, 'Qwe'])

In [5]:
x[0]

1

In [6]:
type(x)

tuple

In [7]:
x

(1, 23, 3, [89, 90, 'Qwe'])

In [8]:
x[0]

1

In [9]:
x

(1, 23, 3, [89, 90, 'Qwe'])

In [10]:
x[3]

[89, 90, 'Qwe']

In [11]:
x[3][1]

90

In [12]:
x

(1, 23, 3, [89, 90, 'Qwe'])

In [15]:
x[3][0]

89

In [16]:
x

(1, 23, 3, [89, 90, 'Qwe'])

In [17]:
x[3][0]='Dhillu'

In [18]:
x

(1, 23, 3, ['Dhillu', 90, 'Qwe'])

In [20]:
x[0]=23

TypeError: 'tuple' object does not support item assignment

In [21]:
# list----> tuple
a=[12,2,3,(4,5,6)]

In [22]:
a

[12, 2, 3, (4, 5, 6)]

In [24]:
a[0]=22

In [25]:
a

[22, 2, 3, (4, 5, 6)]

In [27]:
a[3][0]=40

TypeError: 'tuple' object does not support item assignment

In [31]:
# dict-----> 
a={
    'name':'abc',
    'marks':45,
    'age':12
}

In [32]:
a

{'name': 'abc', 'marks': 45, 'age': 12}

In [33]:
type(a)

dict

In [ ]:
#wap to print a dict of emp.

In [ ]:
a={
    'name':'abc',
    'marks':45,
    'age':12
}

In [35]:
a['name']='bro'

In [36]:
a

{'name': 'bro', 'marks': 45, 'age': 12}

In [38]:
a={
    'name':['abc','asd','bro'],
    'marks':(45,56,90),
    'age':[23,45,90]
}
a

{'name': ['abc', 'asd', 'bro'], 'marks': (45, 56, 90), 'age': [23, 45, 90]}

In [39]:
a['name']

['abc', 'asd', 'bro']

In [41]:
a['name'][1]='abcrt'

In [42]:
a

{'name': ['abc', 'abcrt', 'bro'], 'marks': (45, 56, 90), 'age': [23, 45, 90]}

In [43]:
student={
    'name':['abc','xyz'],
    'marks':(90,45),
    'stu_1':{
        'name':'mno',
        'marks':70,
        'age':10
        
    }
}

In [44]:
student

{'name': ['abc', 'xyz'],
 'marks': (90, 45),
 'stu_1': {'name': 'mno', 'marks': 70, 'age': 10}}

In [51]:
std = {
    'name':['Abc','bhg'],
    'marks':23,
    
    'a':{
        'age':21,
    'b':{
        'addr':'New Delhi'
    }
    }
}

In [50]:
std

{'name': ['Abc', 'bhg'], 'marks': 23, 'a': {'age': 21}}

In [58]:
a={
    "employ_name":['Roushan'],
    "age":[21],
    "salary":[200000],
    
    'b':{
        "name1":"ghk",
        "marks":23,
        'c':{
            'name2':'jhi',
            'age2':22,
        'd':{
            'xya':123,
        }
        
        }
    }
}

In [55]:
a

{'employ_name': ['Roushan'],
 'age': [21],
 'salary': [200000],
 'b': {'name1': 'ghk', 'marks': 23, 'c': {'name2': 'jhi', 'age2': 22}}}

In [59]:
#dict---->key,value,items.
a

{'employ_name': ['Roushan'],
 'age': [21],
 'salary': [200000],
 'b': {'name1': 'ghk',
  'marks': 23,
  'c': {'name2': 'jhi', 'age2': 22, 'd': {'xya': 123}}}}

In [60]:
a.keys()

dict_keys(['employ_name', 'age', 'salary', 'b'])

In [61]:
a.values()

dict_values([['Roushan'], [21], [200000], {'name1': 'ghk', 'marks': 23, 'c': {'name2': 'jhi', 'age2': 22, 'd': {'xya': 123}}}])

In [62]:
a.items()

dict_items([('employ_name', ['Roushan']), ('age', [21]), ('salary', [200000]), ('b', {'name1': 'ghk', 'marks': 23, 'c': {'name2': 'jhi', 'age2': 22, 'd': {'xya': 123}}})])

In [63]:
a = {
    'name':'ydfuy',
    'marks':23425
}

In [64]:
a

{'name': 'ydfuy', 'marks': 23425}

In [65]:
a.items()

dict_items([('name', 'ydfuy'), ('marks', 23425)])

In [66]:
a.keys()

dict_keys(['name', 'marks'])

In [67]:
a.values()

dict_values(['ydfuy', 23425])

In [75]:
# palindrome----->

x = 'nitin'
y = ""
for i in x:
#     print(i)
    y = y+i
#     print(y)
if x==y:
    print('Palindrome')
else:
    print('not palindrome')

Palindrome

In [76]:
# bro----->orb
# Reverse
s="python"
w=" "
j=-1
for i in s:
    w=w+s[j]
    j=j-1
print(w)

 nohtyp

In [79]:
s = 'python'
rev_str = ""
count = len(s)
while count>0:
    rev_str+=s[count-1]
    count = count-1
    
    print(rev_str)

n
no
noh
noht
nohty
nohtyp