# Tuple

In [1]:
#how to make a tuple
a =(10,34,89,90,77,99)
print(a)

(10, 34, 89, 90, 77, 99)

In [2]:
type(a)

tuple

In [3]:
#tuple ----> string
x = ('45','Ram','Shyam','100')
print(x)

('45', 'Ram', 'Shyam', '100')

In [4]:
type(x)

tuple

In [5]:
a = (23,45,'book','qwerty',23.89,34.7,True,False,2+4j)
print(a)

(23, 45, 'book', 'qwerty', 23.89, 34.7, True, False, (2+4j))

In [6]:
type(a)

tuple

In [7]:
# list & tuple----->
x=[34,56,90,78,'abc']
print(x)

[34, 56, 90, 78, 'abc']

In [8]:
x[3]=100

In [9]:
x

[34, 56, 90, 100, 'abc']

In [10]:
x

[34, 56, 90, 100, 'abc']

In [11]:
len(x)

5

In [12]:
a

(23, 45, 'book', 'qwerty', 23.89, 34.7, True, False, (2+4j))

In [13]:
a[2]   23
a="2"
b = '3'

SyntaxError: invalid syntax (Temp/ipykernel_1628/1053084446.py, line 1)

In [14]:
a[2]=12

TypeError: 'tuple' object does not support item assignment

In [ ]:
a = input('Enter your name')
count = 0
for i in a:
    count = count+1
    print(i)
print("Total no. in string is :--->",count)

In [15]:
temp_ver="abcd" 
i=0 
while i<len(name): 
    if name[i] not in temp_ver: 
        temp_ver+=name[i] 
        print("f{name[i]}:{name.count}(name[i])})

SyntaxError: EOL while scanning string literal (Temp/ipykernel_1628/3588336662.py, line 6)

In [16]:
a= 'xyz'
count = 0
while count<len(a):
    a+=count
    print(count)

TypeError: can only concatenate str (not "int") to str

In [17]:
a="abcd"
i=0
count=0
while i<len(a):
    print(a)
    count=count+1
    i+=1
print(count)


a= 'xyz'
count = 0
i = 0
while count<len(a):
#     print(a)
    count+=1
    i+=1
    
print(count)

abcd
abcd
abcd
abcd
4
3

In [18]:
a= 'xyz'
count = 0
i = 0
while count<len(a):
#     print(a)
    count+=1
    i+=1
    
print(a,count)

xyz 3

In [19]:
#methods----> count/index
a = (23,45,'book','qwerty',23.89,34.7,True,False,2+4j)
print(a)

(23, 45, 'book', 'qwerty', 23.89, 34.7, True, False, (2+4j))

In [20]:
a

(23, 45, 'book', 'qwerty', 23.89, 34.7, True, False, (2+4j))

In [21]:
a.count(45)

1

In [22]:
x=(23,45,67,90,23,23,34,34)
x.count(0)

0

In [23]:
#index
x

(23, 45, 67, 90, 23, 23, 34, 34)

In [24]:
x.index(90)

3

In [25]:
#check tuple is mutable or not.
s=(23,45,23,0)
s.count(0)

1

In [32]:
a= (23,23,89,90,23)
a.count(24)

0

In [33]:
a.index(23)

0

In [38]:
#Check tuple is mutable or not?

#WAp to sum a list of 4 numbers.

# wap to count no. of 7 in a tuple.
# s=(70,77,777,7777,-77,72,7)

#wap and check if item is present in a list or not
# item = ['python','java',c++]


# 9891464311

x=(1,2,3)
x[0]=100

TypeError: 'tuple' object does not support item assignment

In [41]:
a = [1,2,3,4]
sum1 = 0
for i in  a:
    sum1=sum1+i
    print(sum1)

1
3
6
10

In [42]:
a

[1, 2, 3, 4]

In [43]:
add = a[0]+a[1]+a[2]+a[3]
print(add)

10

In [44]:
add = sum(a)
add

10

In [47]:
# from functools import reduce
# print(reduce(lambda x,y:x+y,a))
# add

10

In [50]:
s=(7,70,77,777,7777,-77,72,77)
print(s.count(77))

2

In [ ]:
#wap and check if item is present in a list or not
item = ['python','java','c++']
# wap to find palindrome.
# Wap to reverse a string.