In [4]:
#check if the no. is odd or even with the help of function.
# find the max of 3 no. with the help of function.

def odd_even(x=24):
#     a=20
    if x%2==0:
        print("Even")
    else:
        print("odd")
        
odd_even()

Even

In [6]:
def number(x,y,z):
    if x>y and x>z:
        print(x)
    elif y>z and y>x:
        print(y)
    elif z>y and z>x:
        print(z)
number(1,2,3)

3

In [7]:
#wap to caluculate the salary of a emp where monthly salary of 
# emp is 20000, now we hhave to calculate the annual salary of
# the emp with the help of function.

# wap to find the cost of a car having base price of 
# 2000000 where 17% tax is available for this car and
# also on road price of the car is increased by 5%.
# now we have to calculate the total price of the car which 
# customer have to pay.

# Wap to a function in which you can do +,-,*,/,%  airthmetic
# operations.

# 4.Input the electricity unit charge  & calculate the 
# total electric bill according to given condition.
# For first 50 units Rs. 0.50/unit
# For next 100 units Rs. 0.75/unit
# For next 100 units Rs. 1.20/unit
# For unit above 250 Rs. 1.50/unit
# An additional surcharge of 20% is added to the bill.

#wap with function and try to find out a particular year is 
# leap year or not.

# Wap to find the sum of all the numbers present in a list
# with the help of function.

In [9]:
def airth(a=20,b=3):
#     a=1
#     b=2
    add = a+b
    minus = a-b
    mul = a*b
    div = a/b
    modl = a%b
    print("Add--->",add,"Minus--->",minus,"Multiply--->",mul,"Divide--->",div,"Modulus--->",modl)
    
airth()

Add---> 23 Minus---> 17 Multiply---> 60 Divide---> 6.666666666666667 Modulus---> 2