In [1]:
# def fun_name():
#     print('Msg')
    
    
# call the fun

def a():
    print('Hello I am from function')

In [2]:
a()

Hello I am from function

In [ ]:
#wap using function to print a msg-----> 'welcome to function'

In [4]:
#wap to add two numbers and print the output.
def add():
    a=9
    b=1
    c = a+b
    print(c)
add()

10

In [ ]:
#4 type of function

# no return no arg
# with arg no return
# with arg with return
# with return no arg

In [5]:
# no arg no return 
def add():
    a=9
    b=1
    c = a+b
    print(c)
add()

10

In [6]:
#with arg no return
def add(a,b):
    c=a+b
    print(c)
add(9,10)

19

In [9]:
#with arg with return
# min---->
def sub(x,y):
#     result = x-y
    return x-y
sub(2,90)

-88

In [10]:
#with return no arg
def add():
    a=9
    b=1
    return a+b
add()

10

In [12]:
#wap to find max no. from three numbers using function.
#wap to find min no. from three numbers using function.
#Wap to sum all number present in a list.
#wap to check a string is reversed or not?
#Wap to find odd number using function
#wap to find even no. using function.
# Write a function to check a string is palindrome or not?
#Wap to sum the first 10 natural numbers using function?
def add_l():
    a=[1,2,3,4,5]
    add = sum(a)
    print(add)
add_l()

15

In [22]:
def adding(x):
    x = [10,20,30,40,50,60]
    add = 0
    for i in x:
        add= add +i
    print (add)
adding(x)

210

In [31]:
def plus(l):
    sum=0
    for i in l:
        sum=sum+i
    print(sum)
#         print(sum)
#         i+=1

l=[1,3,5,7,8]
plus(l)

24

In [38]:
#reverse a string
def reverse():
        a = 'car'
        rev = ''
        for i in a:
        #     print(i)
            rev = i+rev
        print(rev)
        if a==rev:
            print('Not reverse')
        else:
            print('reverse')
reverse()

rac
reverse

In [50]:
a='vikash'
b=''
# pal = 0
for i in a:
#     print(i)
    b = i+b
print(b)
if a==b:
    print('Palindronm')
else:
    print('Not palindrome')

hsakiv
Not palindrome

In [5]:
#first 10 natural num.
def natural_no():
    a = [1,2,3,4,5,6,7,8,9,10]
    add = 0
    for i in a:
        add = add+i
    print(add)
    
natural_no()

55

In [13]:
def nat_no():
    add = 0
    for i in range(1,11):
        add = add+i
    return add
#     print(add)
nat_no()

55

In [11]:
def naturalNumbers():
    result = 0
    for i in range(11):
        result = result + i
    return result

naturalNumbers()

55

In [21]:
#function----> 4 parts
# default arguments

def student(a=10,b=5,c=9):
    result = a+b+c
    return result

student()

24

In [18]:
student(1,2)

12

In [19]:
student()

TypeError: student() missing 1 required positional argument: 'a'

In [20]:
student(1)

15

In [ ]:
# Wap to calculate the percentage of 5 students??

# Wap to find out the average cost of 5 quantity each
# quantity is having the value of 80 and if the value exceed by
# avg value then also calculate the total price of whole quantity
# avg value => 350

# Wap to find the area and circumference of circle and also try to find
# if this circle is going to be square or not?

# Calculate the total area of a land having l=20 b=30.If the land
# is greater than 100sq fit then also calculate the cost of 
# remaining land. Price of land is 20000K.

In [27]:
# Wap to find out the average cost of 5 quantity each
# quantity is having the value of 80 and if the value exceed by
# avg value then also calculate the total price of whole quantity
# avg value => 350
def price():
    single_price = 80
    total_quantity = 5
    total_price= single_price*total_quantity
    # print("Total price----->",total_price)
    avg_price = total_price/total_quantity
    # print("Average Price------->",avg_price)

    if avg_price >350:
        total_price= single_price*total_quantity
        print(total_price)
    else:
        print("Avg value is low")
price()

Avg value is low

In [31]:
# Calculate the total area of a land having l=20 b=30.If the land
# is greater than 100sq fit then also calculate the cost of 
# remaining land. Price of land is 20000K.
def area_of_land(l,b,price=20000):
    area = l*b
    print(area)
    
    if area>100:
        remaining_land = area-100
        remain_cost= price*remaining_land
        print("Remaining cost of land ---->",remain_cost)
area_of_land(20,30)

600
Remaining cost of land ----> 10000000

In [42]:
# Wap to calculate the percentage of 5 students??
def perc():
    a=[1,2,3,4,5]
    add = 0
    total_marks = 80
    for i in a:
        add=add+i
#     print(add)
    per = (add/total_marks)*100
    print("Percent obtain =",per,"%")
perc()
    
# per = (a/5)*100
# per

Percent obtain = 18.75 %

In [44]:
def perc():
    a=[1,2,3,4,5]
    x = sum(a)
    total_marks = 80
    per = (x/total_marks)*100
    print("Percent obtain =",per,"%")
perc()

Percent obtain = 18.75 %

In [43]:
a=[1,2,3,4,5]
x = sum(a)
x
# total_marks = 80

15

In [52]:
# Wap to find the area and circumference of circle and also
# try to find
# # if this circle is going to be square or not?
def fit():
    r = 9
    area_cir = (22/7)*r**2
    area_cir
    circum = 2*3.14*r
    circum

    a=2
    area_of_squ = a**2
    area_of_squ

    if area_cir == area_of_squ:
        print('Fit')
    else:
        print('Unfit')
fit()

Unfit

In [59]:
marks = []
for i in range(5):
    a=int(input('Enter the marks'))
    marks.append(a)
    
    total_marks = sum(a)
print(marks)
print(total_marks)

Enter the marks23

TypeError: 'int' object is not iterable

In [3]:
a()

Hello I am from function