In [3]:
# Wap to make a class of simplification and use +,-,/,*,% operator 
# to calucalte the values of the properties.

# Wap to make a class of car and find its total cost,where basic 
# price is 2000000  tax is 20% and on road price is 
# increased by 17%.

class simplify:
    def airth(self,a,b):
        add = a+b
        minus = a-b
        mul = a*b
        div = a/b
        m = a%b
        print("Add--->",add,"Minus=",minus,"Multiply=",mul,div,m)
        
s = simplify()
s.airth(10,5)

Add---> 15 Minus= 5 Multiply= 50 2.0 0

In [4]:
# Wap to make a class of car and find its total cost,where basic 
# price is 2000000  tax is 20% and on road price is 
# increased by 17%.
class car:
    def car_price(self,basic_price=2000000):
        tax_cal = (basic_price*20)/100
        road_price = (basic_price*17)/100
        total_price = tax_cal+road_price+basic_price
        return total_price
c = car()
c.car_price()

2740000.0

In [8]:
#constructor----->
class student:
#     constructor method
    def __init__(self,name,age):
        self.name = name
        self.age = age
        
s = student('abc',45)
s.name
s.age

45

In [6]:
s.age

45

In [19]:
#empl
class emp:
    def __init__(self,lname,age,salary):
        self.lname = lname
        self.age=age
        self.salary = salary

Sandeep = emp('Singh',34,2)
mahesh = emp('kumar',23,-90)

In [22]:
class emp:
    def __init__(self,lname,age,salary):
        self.lname = lname
        self.age=age
        self.salary = salary
        
    def total_sal(self):
        t_sal = self.salary*12
        return t_sal

Sandeep = emp('Singh',34,2)
mahesh = emp('kumar',23,-90)

Sandeep.total_sal()

24

In [30]:
class emp:
    def __init__(self,lname,age,salary):
        self.lname = lname
        self.age=age
        self.salary = salary
        
#         function
    def total_sal(self):
        t_sal = self.salary*12
        return t_sal
        
sandeep = emp('Singh',34,2)
mahesh = emp('kumar',23,-90)
sandeep.total_sal()

24

In [16]:
#wap to make empty class with its objects.

# Wap to make a class of employee and claculate its per year
# salary. Monthly salary is ----> 20000.

# Wap to make a class of simplification and use +,-,/,*,% operator 
# to calucalte the values of the properties.

# Wap to make a class of car and find its total cost,where basic 
# price is 2000000  tax is 20% and on road price is 
# increased by 17%.

-90

In [40]:
class emp:
    def __init__(self,lname,age,salary):
        self.lname = lname
        self.age=age
        self.salary = salary
        
#         function
        def total_sal(self):
            t_sal = salary*12
            return t_sal
        
sandeep = emp('Singh',34,2,emp.total_sal(12))
mahesh = emp('kumar',23,-90)
# sandeep=emp()
sandeep.total_sal()

AttributeError: type object 'emp' has no attribute 'total_sal'

In [18]:
Sandeep.salary

2

In [11]:
Sandeep.age

34

In [12]:
Sandeep.lname

'Singh'